.whiteboard {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}

.mobileHamBudger {
    display: none;
}
.whiteboard .shareButton {
    padding: 15px 25px; /* Overwrites the initial padding */
    background-color: #ff8000;
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.controlsUniqueContainer--right button:hover {
    /* margin-top: 4px; */
    background-color: #716F6F !important;
    color: #fff;
}
.colorBarContainer {
    display: flex;
    flex-direction: column;
    width: 4rem;
    align-items: baseline;
    margin-top: 10rem;
    margin-left: 2rem;   
}

.undoRedo {
    position: absolute;
    left: 10rem;
}

  @media (min-width: 768px) and (max-width: 1024px) {
    .controlsUniqueContainer--right {
        position: absolute;
        top: 40px;
        right: 95px;
        display: flex;
        flex-direction: column;
    }
    .controlsUniqueContainer--right button {
        margin-top: 4px;
    }

    .colorBarContainer {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .undoRedo {
        left: 8rem;
        margin-top: -25px;
    }
    
  }

  @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) { 
    .controlsUniqueContainer--right {
        position: absolute;
        top: 40px;
        right: 20px;
        display: flex;
        flex-direction: column;
    }
    .controlsUniqueContainer--right button {
        margin-top: 4px;
    }
  }
  