.whiteboard {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: -20px;
}

.mobileHamBudger {
    display: none;
}
.whiteboard .shareButton {
    padding: 15px 25px; /* Overwrites the initial padding */
    background-color: #ff8000;
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.controlsUniqueContainer--right button:hover {
    /* margin-top: 4px; */
    background-color: #716F6F !important;
    color: #fff;
}
@media screen and (max-width: 956px) and (min-height: 440px) and (orientation: landscape) {
    .excalidraw .App-toolbar {
        margin-left: 0px;
    }

    .whiteboard {
        margin-top: -25px;

    }
    .whiteboard  .shareButton {
        position: absolute;
        bottom: auto;
    }

    .controlsUniqueContainer {
        display: flex;
        flex-direction: row;
    }

    .controlsUniqueContainer--right {
        position: absolute;
        top: 40px;
        right: 25px;
        display: flex;
        flex-direction: column;
    }
    .controlsUniqueContainer--right button {
        margin-top: 4px;
    }

    .mobileHamBudger {
        display: block;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .controlsUniqueContainer--right {
        position: absolute;
        top: 40px;
        right: 25px;
        display: flex;
        flex-direction: column;
    }
    .controlsUniqueContainer--right button {
        margin-top: 4px;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) { 
    .controlsUniqueContainer--right {
        position: absolute;
        top: 40px;
        right: 20px;
        display: flex;
        flex-direction: column;
    }
    .controlsUniqueContainer--right button {
        margin-top: 4px;
    }
  }
  