@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/**
Excalidraw styling overrides
**/

.excalidraw .App-menu_top {
    background-color: #E9E7E8;
    padding: 10px;
}

.excalidraw .Island {
    background-color: transparent !important;
    box-shadow: none !important;
}

.excalidraw .ToolIcon {
    border-left: 1px solid #D2D0D0 !important;
    border-radius: unset !important;
}

.excalidraw .sidebar-trigger {
    display: none !important;
}

.excalidraw .App-toolbar__divider {
    display: none !important;
}

.excalidraw .App-menu_top {
    grid-template-columns: 0fr 1fr 1fr !important;
}

/** dropdown button disable **/
.excalidraw .main-menu-trigger {
    display: none !important;
}

.excalidraw .App-menu_top {
    position: relative;
}

.excalidraw .App-toolbar {
    margin-left: 2rem;
}

.zoom-actions {
    background-color: #000 !important;
}

.excalidraw canvas {
    margin-top: 5rem;
}